.web {
    border: 1px solid black;
    border-radius: 15px;
    max-width: 450px;
    padding: 25px;
    margin: 25px;
}

.web1 {
    border: 1px solid black;
    border-radius: 15px;
    height: 225px;
    max-width: 450px;
    padding: 25px;
    margin: 25px;
}