footer {
    background: #00252e
}

footer .socials i {
    padding: 10px 20px 0 0;
    font-size: 40px
}

footer .socials i:hover {
    color: var(--three)
}

.btn-outline-submit{
    background-color: var(--three);
    color: #fff;
    border-color: var(--three);
    padding: 8px 30px;
    border-radius: 0 20px 20px 0;
  }
  
  .btn-outline-submit:hover{
    background-color: var(--one);
    border-color: var(--one);
  }

  .copyright {
      color: var(--five);
      background-color: var(--three);
      text-align: center;
      padding: 20px
  }

