/* Color Variables */

:root {
  --one: #e24e42;
  --two: #D9B310;
  --three: #EB6E80;
  --four: #008F95;
  --five: #2B2A2A;
}

/* Fonts and Imports */

@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
  background-color: rgb(255, 255, 255);
  background-image: url("./images/parallax.svg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-primary {
  color: var(--one);
  padding: 8px 30px;
  border-radius: 30px;
  border: 1px solid var(--three);
  margin: 0 10px;
  margin: 0 10px;
  background: transparent;
  cursor:pointer!important;
}

.button-primary:focus {
  outline: 0;
}

.button-primary:hover, .active {
  background-color: var(--three);
  border-color: var(--three);
  color: white;
  text-decoration: none;
}

.chart-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h2 {
  color: var(--one);
  text-decoration: underline;
}

.svg-flip {
  position: relative;
  top: -1px;
  -webkit-transform: rotate(180deg);
  /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);
  /* FF */
  -o-transform: rotate(180deg);
  /* Opera */
  -ms-transform: rotate(180deg);
  /* IE9 */
  transform: rotate(180deg);
  z-index: -1;
}